.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-container > h1 {
  padding: 0 0 2rem 0;
  font-size: xx-large;
}

.index-container > ul > li {
  padding: 0 0 0.5rem 0;
}

.index-container > ul {
  padding: 0 0 2rem 0;
}