.container > form {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem; */
}

.container > form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
 }

 .container > form > div > input {
   width: 70%;
   border-radius: 5px;
   border-color: var(--primary-color);
   padding: 0 10px;
 }

 .container > form > div:last-child > input {
  width: 20%;
  padding: 0.5rem 0;
  background-color: var(--create-btn);
  color: white;
  cursor: pointer;
}

.container > form #answer_title {
  padding: 0 10px;
  border-radius: 5px;
  border-color: var(--primary-color);
}

.container > form > p:last-of-type > input {
  background-color: var(--create-btn);
  border-radius: 5px;
  border-color: var(--primary-color);
  color: white;
  padding: 0.3rem 2rem;
}