.show-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--primary-color);
  border-radius: 7px;
  position: relative;
}

.show-container .poll-settings {
  /* padding: 0 10px 30px; */
  position: absolute;
  top: 2rem;
  left: 0;
}

.poll-settings .edit-poll > a:hover, .delete-poll > a:hover {
  font-weight: 600;
}

.show-container .poll-title {
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
}


.show-container .poll-title > h1 {
  font-size: xx-large;
}

.show-container .participate {
  position: absolute;
  right: 40px;
  top: 10px;
}

.participate {
  padding-bottom: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 30px #afd0bf94, inset 0 0 20px #afd0bf94;
}

.participate .participate-msg {
  padding: 1rem 1rem;
}

.participate-msg, .participate-inner-msg {
  font-size: medium;
}

.show-container > h3 {
  padding: 0 0 1rem 0;
  font-weight: 500;
}

.show-container > h5, .delete-answer, .edit-poll, .delete-poll {
  padding-left: 50px;
  padding-bottom: 20px;
}

.show-container > form > p {
  padding-left: 50px;
  padding-bottom: 20px;
}

.show-container > h1, h3 {
  display: flex;
  justify-content: center;
}

.show-container #answer_title {
  padding-left: 10px;
  border-radius: 5px;
  border-color: var(--primary-color);
}

.show-container .answer-box {
  border-top: 1px solid var(--primary-color);
  padding: 2vh 3vw;
  display: flex;
  justify-content: center;
  transition: 300ms;
}

.show-container .vote-btn {
  position: absolute;
  top: 2vh;
  right: 3vw;
  transition: 300ms;
}

.show-container > form > p:nth-last-child(2) > input {
  background-color: var(--create-btn);
  border-radius: 5px;
  padding: 0.3rem 2rem;
  color: white;
}

.show-container .admin-show-wrapper {
  position: relative;
}

.show-container .admin-show-wrapper .delete-answer {
  position: absolute;
  top: 2vh;
  transition: 300ms;
}

.show-container .answer-box:hover, .vote-btn:hover > a, .delete-answer:hover > a {
  transition: 300ms;
  font-weight: 600;
  font-size: x-large;
}

.homelink {
  padding: 0.3rem 0.5rem 0.6rem 0.6rem;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  margin: 0 46%;
  transition: 400ms;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

.homelink:hover {
  transition: 400ms;
  background-color: var(--primary-color);
}

.show-container .thank-you-notice {
  padding: 0 4vw 4vh;
}



/* admin section */

.show-container .poll-settings {
  display: flex;
  justify-content: center;
}

.show-container .poll-settings .edit-poll > a, .delete-poll > a {
  font-size: medium;
}

.results-wrapper {
  margin-top: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.table-wrapper {
  width: 60%;
}

.pie-graph-wrapper {
  width: 40%;
}

.results-table {
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgb(45 55 68 / 10%);
}

.table-mainhead {
  background-color: rgba(255,255,255,0.5);
}

.table-row {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.results-table .table-body .table-row {
  border-top: 1px solid var(--primary-color);
  background-color: rgba(255,255,255,0.7);
}

.bar-graph-wrapper {
  width: 80%;
  margin: 5% 0 5% 10%;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgb(45 55 68 / 10%);
  padding: 1rem;
}