.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-container > h1 {
  padding: 0 0 2rem 0;
  font-size: xx-large;
}

.show-container > h3, p {
  padding: 0 0 0.5rem 0;
}

.show-container .homelink {
  padding: 0.3rem 0.5rem 0.6rem 0.6rem;
}

.show-container .homelink:hover {
  transition: 400ms;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  background-color: var(--secondary-color);
}