.notice, .alert {
  position: absolute;
  top: 53px;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.10);
  border-radius: 5px;
  padding: 0.7rem;
}