.navbar-container {
  background-color: var(--primary-color);
  height: 76px;
}

.navbar-container .navbar {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container .navbar .logo > i:hover {
  transition: 400ms;
  color: var(--secondary-color);
}

.navbar-container .navbar .menu-navigation a, span {
  padding-left: 1rem;
}

.navbar-container .navbar .menu-navigation .logIn > i:hover {
  transition: 400ms;
  color: var(--secondary-color);
}

.navbar-container .navbar .menu-navigation .logOut > i:hover {
  transition: 400ms;
  color: var(--secondary-color);
}

.navbar-container .navbar .menu-navigation .nav-settings > i:hover {
  transition: 400ms;
  color: var(--secondary-color);
}

.nav-new-poll:hover {
  font-weight: 600;
}