<div class="admin-show-wrapper">
  <p class="answer-box">
    <%= answer.title %>

    <% if user_signed_in? %>
      <% if !current_user.admin %>
        <%= render "answers/upvote_link", answer: answer %>
      <% end %>
    <% end %>
  </p>

  <% if user_signed_in? %>
    <% if current_user.admin %>
      <p class="delete-answer">
        <%= link_to 'Destroy Answer', [answer.poll, answer], method: :delete, data: { confirm: "Are you sure?"} %>
      </p>
    <% end %>
  <% end %>
</div>