<%= form_with model: [ @poll, @poll.answers.build ] do |f| %>
  <p>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <li><%= link_to "Go to created Poll", poll_path(@poll) %></li>
<% end %>