<div class="thank-you-notice">
  <%= "You already casted your vote." %>
  <br>
  <%= "Thank you for participating!" %>
  <br> <br>
  <%= "Keep and eye on your inbox, the results will be shared soon." %>
</div>