<div class="thank-you-notice">
  <%= "Your vote was registered successfully!" %>
  <br>
  <%= "Thank you for participating!" %>
  <br> <br>
  <%= "Keep and eye on your inbox, the results will be shared soon." %>
</div>