/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "shared/navbar.css";
@import "shared/root.css";
@import "pages/index.css";
@import "pages/show-poll.css";
@import "pages/log-in.css";
@import "pages/new-poll.css";


* {
  padding: 0;
  margin: 0;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: large;
  color: var(--primary-text);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--secondary-color);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  width: 80vw;
  margin-top: 5vh;
  margin-left: 10vw;
}


/* notice, alert */
.notice, .alert {
  position: absolute;
  top: 38px;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgb(45 55 68 / 10%);
  border-radius: 5px;
  padding: 1rem;
}